  <div class="row justify-content-center">
    <div class="col-8">
      <div *ngIf="product">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

          <div>
            <div class="row justify-content-center">
              <div *ngIf="product.image">
                <img
                  [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                  style="max-height: 100%;" *ngIf="editForm.get('image')!.value" alt="product image" />
              </div>

              <input type="hidden" class="form-control" name="image" id="field_image" [(ngModel)]="product.image"
                formControlName="image" />

              <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="product.imageContentType" formControlName="imageContentType" />
            </div>

            
            <dl>
              <dt ><span jhiTranslate="infinityshoppingApp.product.name" for="field_name">Name</span>
              </dt>
              <dd>
                <span>{{ product.name }}</span>
              </dd>
              <input type="hidden" name="name" id="field_name" [(ngModel)]="product.name" formControlName="name" />
            </dl>

            <dl>
              <dt><span jhiTranslate="infinityshoppingApp.product.productCategoryEnum"
                  for="field_category">Category</span></dt>
              <dd>
                <span>{{ product.productCategoryEnum }}</span>
              </dd>
              <input type="hidden" name="category" id="field_category" [(ngModel)]="product.productCategoryEnum"
                formControlName="category" />
            </dl>

            <dl>
              <dt><span jhiTranslate="infinityshoppingApp.product.quantity" for="field_quantity">Quantity</span></dt>

              <input type="number" name="quantity" id="field_quantity" [(ngModel)]="product.quantity"
                formControlName="quantity" />
            </dl>

            <dl class="doNotDisplay">
              <dt><span jhiTranslate="infinityshoppingApp.product.priceNet" for="field_priceNet">Price net</span></dt>
              <dd>
                <span>{{ product.priceNet }}</span>
              </dd>
              <input type="hidden" name="priceNet" id="field_priceNet" [(ngModel)]="product.priceNet"
                formControlName="priceNet" />
            </dl>

            <dl class="doNotDisplay">
              <dt><span jhiTranslate="infinityshoppingApp.product.vat" for="field_vat">Vat</span></dt>
              <dd>
                <span>{{ product.vat }}</span>
              </dd>
              <input type="hidden" name="vat" id="field_vat" [(ngModel)]="product.vat" formControlName="vat" />
            </dl>

            <dl>
              <dt><span jhiTranslate="infinityshoppingApp.productInCart.priceGross" for="field_priceGross">Price
                  gross</span></dt>
              <dd>
                <span>{{ product.priceGross }}</span>
              </dd>
              <input type="hidden" name="priceGross" id="field_priceGross" [(ngModel)]="product.priceGross"
                formControlName="priceGross" />
            </dl>

            <dl>
              <dt><span jhiTranslate="infinityshoppingApp.productInCart.stock" for="field_stock">Stock</span></dt>
              <dd>
                <span>{{ product.stock }}</span>
              </dd>
              <input type="hidden" name="stock" id="field_stock" [(ngModel)]="product.stock" formControlName="stock" />
            </dl>

            <dl>
              <dt><span jhiTranslate="infinityshoppingApp.productInCart.description"
                  for="field_description">Description</span>
              </dt>
              <dd>
                <span>{{ product.description }}</span>
              </dd>
              <input type="hidden" name="description" id="field_description" [(ngModel)]="product.description"
                formControlName="description" />
            </dl>

            <dl class="doNotDisplay">
              <dt><span jhiTranslate="infinityshoppingApp.productInCart.productId"
                  for="field_productId">ProductId</span></dt>

              <dd>
                <span>{{ product.id }}</span>
              </dd>
              <input type="hidden" name="productId" id="field_productId" [(ngModel)]="product.id"
                formControlName="productId" />
            </dl>

          </div>

          <jhi-alert-error></jhi-alert-error>

          <div>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
              <fa-icon icon="shopping-cart"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.addToCart">Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
