<div class="card mb-3" style="max-width: 24rem;">
  <h3 class="card-header"><span class="lowercase" jhiTranslate="infinityshoppingApp.paymentCart.home.title">Kind of Payment</span>
  </h3>
  <div class="card-body" *ngIf = "paymentCart">
          <p>{{ paymentCart.name }}</p>
      <div class="row justify-content-center">
          <button type="button" [routerLink]="['/payment-cart', paymentCart.id, 'edit']"
              class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline"
                  jhiTranslate="entity.action.edit">Edit</span>
          </button>
      </div>
  </div>
</div>
