<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<div class="row">
  <div class="col-md-auto">
    <h2 class="lowercase" jhiTranslate="infinityshoppingApp.product.home.title">All products</h2>
  </div>

  <div class="col">
    <div class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" [(ngModel)]="filter" placeholder="Search" />
    </div>
  </div>

  <div class="col">
    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-product"
      [routerLink]="['/product/new']"
      *jhiHasAnyAuthority="'ROLE_ADMIN'"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="infinityshoppingApp.product.home.createLabel"> Create a new product </span>
    </button>
  </div>

  <div class="w-100"></div>

  <div class="padding-top">
    <div class="col">
      <div class="btn-group" role="group" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <button type="button" class="btn btn-outline-secondary btn-sm" jhiSortBy="name">
          <span class="d-flex">
            <span jhiTranslate="infinityshoppingApp.product.sortByName">Sort by name</span>
            <fa-icon icon="sort"></fa-icon>
          </span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" jhiSortBy="priceGross">
          <span class="d-flex">
            <span jhiTranslate="infinityshoppingApp.product.sortByPrice">Sort by price</span>
            <fa-icon icon="sort"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span jhiTranslate="infinityshoppingApp.product.home.notFound">No products found</span>
  </div>
  <div class="container">
    <div class="row card-group">
      <div class="col-xs-6 col-md-4" *ngFor="let product of products | searchProduct: filter; trackBy: trackId" data-cy="entityTable">
        <div class="card border-secondary mb-3" style="max-width: 20rem">
          <div class="card-body">
            <div class="image">
              <a *ngIf="product.image" (click)="openFile(product.image, product.imageContentType)">
                <img
                  [src]="'data:' + product.imageContentType + ';base64,' + product.image"
                  style="max-height: 220px"
                  alt="product image"
                />
              </a>
            </div>
            <h4 class="card-title" class="capitalize">{{ product.name }}</h4>
            <div>
              <p class="card-text">
                {{ product.priceGross }} $
                <button type="submit" [routerLink]="['/product', product.id, 'view']" class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
              </p>
            </div>
            <div class="positionButtonsAdmin">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/product', product.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
