.container {
  position: relative;
  padding-top: 15px;
}

.card-body {
  text-align: center;
  height: 380px;
}

.card-text {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.positionButtonsAdmin {
  padding-top: 10px;
}

.padding-top {
  padding-top: 5px;
}

.capitalize {
  text-transform: capitalize;
}

.hiddenSortFaicon {
  visibility: hidden;
}