.tableAmountOfCartGross {
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
  }
  
  .tableAmountOfCartGrossValue {
    text-align: right;
    font-size: 14px;
    color: #252525;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
  }
  