.positionOrderMainUpdateAmount {
    padding-top: 25px;
  }
  
  .orderMainUpdateTableAmount {
    text-align: center;
    font-size: 13px;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .orderMainUpdateTableAmountValue {
    font-size: 14px;
    color: #252525;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
